p {
    text-align: center;
    max-width: 500px;
    padding: 10px;
}

.cardGame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
}

.cardGame-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardGame-element {
    margin: 10px;
    max-width: 100px;
    border: 2px solid #919191;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.cardGame-element:hover {
    transition-duration: 250ms;
    background-color: #dedede;
}